.bg-primary {
    background-color: #6f42c1 !important; 
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.card-footer img {
    transition: filter 0.3s ease;
}

.card-footer img:hover {
        filter: invert(21%) sepia(100%) saturate(7477%) hue-rotate(0deg) brightness(91%) contrast(116%);
}

